%section.intro
  %h1 The Dragonfly Game
  %ul
    %li= link_to 'Watch Intro'
    %video{:width => 320, :height => 240, :controls => true}
      %source{:src => "http://diveintohtml5.com/i/pr6.webm", :type => 'video/webm; codecs="vp8, vorbis"'}
      %source{:src => "http://diveintohtml5.com/i/pr6.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
      %source{:src => "http://diveintohtml5.com/i/pr6.ogv", :type => 'video/ogg; codecs="theora, vorbis"'}
    %li= link_to 'Start'

%hr

%section.build_parts
  %h2 Let's build the Dragonfly Body Parts
  %h3 Click on the videos to check how to build each part.

  %video{:width => 320, :height => 240, :controls => true}
    %source{:src => "http://diveintohtml5.com/i/pr6.webm", :type => 'video/webm; codecs="vp8, vorbis"'}
    %source{:src => "http://diveintohtml5.com/i/pr6.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    %source{:src => "http://diveintohtml5.com/i/pr6.ogv", :type => 'video/ogg; codecs="theora, vorbis"'}

  %video
    %source{:src => "http://diveintohtml5.com/i/pr6.webm", :type => 'video/webm; codecs="vp8, vorbis"'}
    %source{:src => "http://diveintohtml5.com/i/pr6.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    %source{:src => "http://diveintohtml5.com/i/pr6.ogv", :type => 'video/ogg; codecs="theora, vorbis"'}

  %video
    %source{:src => "http://diveintohtml5.com/i/pr6.webm", :type => 'video/webm; codecs="vp8, vorbis"'}
    %source{:src => "http://diveintohtml5.com/i/pr6.mp4", :type => 'video/mp4; codecs="avc1.42E01E, mp4a.40.2"'}
    %source{:src => "http://diveintohtml5.com/i/pr6.ogv", :type => 'video/ogg; codecs="theora, vorbis"'}
